{% extends 'base/main.html' %}
{% block content %}


<div class="header-bar">
    <h1>Регистрация</h1>
    <h3>Автокомплекс "ВЕРОС"</h3>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}


        <input style="margin-top:10px" class="button" type="submit" value="Регистрация">
    </form>
    <p>Имаш профил? <a href="{% url 'login' %}">Вход</p>
</div>





{% endblock content %}