{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href=''>Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}


<h1>Автокомпелкс "ВЕРОС" </h1>
<a href="{% url 'task-create' %}">Добави автомобил</a>
<table>
    <tr>
        <th>Марка и модел</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">Отвори</a></td>
        <td><a href="{% url 'task-update' task.id %}">Редактирай</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Изтрий</a></td>
    </tr>
    {% empty %}
        <h3>Няма добавени автомобили</h3>
    {% endfor %}
</table>

