{% extends 'base/main.html' %}
{% block content %}

{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Изход</a>
{% else %}
<a href="{% url 'login' %}">Вход</a>
{% endif %}

<hr>
<h1>Автокомпелкс "ВЕРОС" {{color}}</h1>

<a href="{% url 'task-create' %}">Добави автомобил</a>

<form method="GET">
    <input type="text" name='search-area' value="{{search_input}}">
    <input type="submit" value="Търсене">
</form>

<table>
    <tr>
        <th>Марка и модел</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>

        <td><a href="{% url 'task-update' task.id %}">Редактирай</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Изтрий</a></td>
    </tr>
    {% empty %}
        <h3>Няма добавени автомобили</h3>
    {% endfor %}
</table>

{% endblock content %}
